*{
    margin:0px;
    padding:0px;
   
}

.header
{
    height:150px;
    width:100%;
    border:none;
    
    
}

.Amazon{
    margin-left: 10px;
}

.navebar
{
    height:50px;
    width: 100%;
    background-color:rgb(255, 15, 15);
    color:white;
    position: sticky;
    z-index:1;
    top:0px;
}

ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

li{
    cursor: pointer;
    margin-top: 10px;
    list-style: none;
}

.item1{
    display: flex;

}

input {

    height:15px;
    width:200px;
    margin-top:3px;
    border-radius:5px;
    border:3px solid trnasparent;
    border:none;
}

input:focus{
  outline:none;
}

input:hover{
  border:2px solid rgb(90, 11, 216);
}

.logo{
    height:20px;
    width: 20px;
    border:1px solid white ;
    background-image:url(https://t4.ftcdn.net/jpg/06/32/57/11/360_F_632571187_glzcmAoI5egceKDX23z0SxqpJUxAQPk4.jpg);
    display: inline-block;
    background-size:cover;
    border-radius:50%;
}

